* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: value;
    color: white;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
}



header {  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    font-size: 14px;
}
header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}




h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}
button {
    padding: 10px 20px;
    background: #fff;
    color: #2b1055;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}
button:hover {
    background-color: #7597de;
}
h2 {
    font-size: 24px;
    margin-top: 20px;
}
form {
    margin-top: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}



#reloj {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}




#eliminar-persona-btn {
    font-size: 20px;
    padding: 10px 20px;
    background: #fff;
    color: #2b1055;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

#listado-eliminados {
    position: fixed;
    top: 100px; 
    right: 0; 
    width: 300px;
    height: auto; 
    display: none;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#lista-eliminados {
    list-style: none;
    padding: 0;
    color: white;
}
